@model IEnumerable<CovProj.Models.Sick>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Report as a sick", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SickId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeoplesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SickId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PeoplesId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Place)


    </td>
    <td>
        @if (Session["Admin"] == "true")
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.SickId })} |
        @Html.ActionLink("Details", "Details", new { id = item.SickId }) |
        @if (Session["Admin"] == "true")
        {
            @Html.ActionLink("Delete", "Delete", new { id = item.SickId })}
    </td>
</tr>
}

</table>
